*{
  margin:0;
  padding: 0;
}
:root{
  --primary-color: #000;
  --second-color:#222;
  --info-color: #808080;
  --text-color: #fff;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color, #000);
  color: var(--text-color, #fff);
  margin-right: 1%;
  display:grid;
  height:100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px auto 1fr 60px;
  grid-template-areas: 
  "header header header header"
  "sidebar banner banner banner"
  "sidebar main main main"
  "footer footer footer footer";
}
.banner-section{
  grid-area: banner;
  padding-bottom: 10px;
  height:200px;
}
.banner-section img{
  width: 100%;
  height: 155px;
  object-fit: cover;
}
/*barra de navegação youtube desktop*/
.title-bar{
  grid-area: header;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  gap:50px;
  width: 100%;
}
/*Nav lateral esquerda desktop*/
.left-back{
  grid-area: sidebar;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:60px;
  padding: 20px;
  width: 80px;
}
.left-back button{
 padding:10px;
 border-radius: 5px
}
/*Area do main com videos*/
.video-container{
 grid-area: main;
 display: flex;
 flex-direction: column;
 gap:30px;
 padding-top:20px;
}
footer{
  grid-area: footer;
}
/* Área do menu lateral desktop*/
.menu{
 background: none;
 position: fixed;
 border: none;
 padding: 15px;
 border-radius: 50%;
 transition: background 0.2 ease;
 z-index: 6;
}
.menu:hover {
  background: rgba(255, 255, 255, 0.26);
}
.menu i{
  color: var(--text-color);
  font-size: 24px;
}
.menu.active{
  left:0;
}
.menu-toggle{
  position:fixed;
  left: -300px;
  top:0;
  width: 300px;
  height:100%;
  background-color: var(--primary-color);
  z-index: 5;
  overflow-y: auto;
}
.menu-toggle.active{
  left:0;
}
.menu-toggle ul{
  list-style-type:none;
  padding: 0;
  margin-top: 60px;
}
.menu-toggle ul li{
padding:15px 30px;
}
.menu-toggle ul li a{
  text-decoration: none;
  color:var(--text-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu-toggle ul li a i{
  font-size: 24px;
}
.menu-toggle ul li:hover{
  background-color: var(--second-color);
}
.subs-title {
  font-size: 20px;
  font-weight: bold;
}
.subscribed-channel img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.menu-toggle::-webkit-scrollbar{
  width: 8px;
}
/*footer do menu lateral*/
.nav-footer{
padding:10px;
color:var(--info-color);
margin-left: 40px;
}
/*area de click para fechar os menus*/
.clickArea{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index:4;
}
.clickArea.active{
  opacity: 1;
  visibility:visible;
}
/*area que agrupa os icones no nav do mobile*/
.mobile-aria{
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 15px;
}
.mobile-title{
  display: none;
}
.live-mobile{
  display: flex;
}
.input-wrapper input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;

  padding: 10px 16px;
  color: var(--text-color,#fff);
  font-size: 16px;
}
.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #303030;
  border-radius: 40px;
  overflow: hidden;
  background: #121212;
}
.search-btn {
  background: var(--second-color, #222);
  border: none;
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #303030;
}
.search-btn:hover {
  background: var(--second-color,#222);
}
.search-aria {
  width: 100%;
  max-width: 600px;
}
.youtube{
  display: flex;
  flex-direction: row;
  margin-left:100px;
  font-size: 30px;
}
.youtube img{
  width:35px;
  height:35px;
}
.desktop img{
  display: flex;
}
/*title-bar button define o design dos icones da barra no desktop*/
.title-bar button{
  background:var(--primary-color,#000);
  border:none;
}
.more-mobile{
  display:none;
  border:none;
}
.more-mobile.active{
  bottom: 0;
}
.more-mobile img{
  color:var(--text-color);
}
.icon{
  width: 24px;
  height:24px;
  background: transparent;
  filter:invert(1)
}
.icon-desktop{
  margin-right: 20px;
}
.microphone .icon-desktop{
  background-color:var(--second-color,#222);
  padding:20px;
  border-radius: 50%;
}
.microphone:hover{
background-color:var(--second-color);
 padding:8px;
  border-radius: 50%;
}
.btn-plus{
  display:none;
}
.btn-plus{
  border:none;
  color:var(--text-color);
  background:transparent;
  cursor:pointer;
  width:100%
}
.btn-plus img{
  width: 35px;
  height: 35px;
  filter:invert(1);
}
.btn{
  display: flex;
  align-items: center;
  flex-direction: column;
  border:none;
  align-items: center;
  gap:5px;

  background: transparent;
  cursor: pointer;
  color:var(--text-color,#fff);
  width: 100%;
  cursor:pointer;
}
.btn img{
  width: 24px;
  height:24px;
  filter:invert(1);
}
.btn:hover{
  background-color:var(--second-color);
}
.name-channel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.description{
  display:none;
}

.channel-info{
  display:flex;
  flex-direction: column;
}

.channel-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:6px;
  font-size: 16px;
  font-weight: bold;
}
.space-image-title{
  display: flex;
  align-items: center;
  gap: 10px
}
.foto-perfil{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.check{
  width: 16px;
  height: 16px;
}
.subscribers{
  font-size: 14px;
  color:var(--info-color);
}
.subscribe-button{
  padding: 8px 16px;
  border:none;
  border-radius: 999px;
  cursor:pointer;
}
.subscribe-button:hover{
 background: rgb(182, 180, 180);
}
.subscribe-button.subscribed{
  background-color: #ff0000;
  color: var(--primary-color,#000)
}
.home-bar-mobile{
  display: none;
}
.home-bar{
  display: flex;
  display:inline;
  justify-content: space-between;
  padding: 20px;
  font-size: 45px;
}
.home-bar button{
  color:var(--text-color);
  margin-right: 30px;
  list-style: none;
  background: none;
  border:none;
}

.thumb{
  border-radius: 8px;
  width: 20em;
}
h3{
  font-size: 23px;
}
h4{
  font-size: 19px;
}
.featured-video{
  display: flex;
  align-items: center;
  gap:10px;
  line-height: 1.6;
  padding: 7px;
  border-radius: 10px;
  transition: 0.3s;
}
.featured-video:hover{
  background: var(--second-color);

}
.featured-video summary, a{
  padding:2px;
  cursor:pointer;
}
.video-card{
  padding: 5px;
  border-radius: 10px;
  transition: 0.3s;
}
.video-card:hover{
  background: var(--second-color);
}
.video-info h3{
  line-height: 1;
  font-weight: bold;
  font-size:23px ;
}
 .views-featured{
  color:var(--info-color);
  font-size: 14px;
  line-height: 4em;
}

.title-newest{
  display: flex;
  gap: 10em;
  padding:30px;
}
.play-all-btn{
  background: var(--primary-color);
  color:var(--info-color);
  border:none;
}
.box-videos{
  display: flex;
  flex-direction: row;
  padding:20px;
  gap:30px;
  flex-wrap:wrap;
}
.name-below{
  color: var(--info-color);
}
.views{
  color: var(--info-color);
}

/*menu 3 pontos mobile*/
.toggle-more{
  position: fixed;
  padding-bottom: 80px;
  bottom:-300px;
  width: 100%;
  height: 200px;
  background-color: var(--second-color);
  border-radius:10px;
  z-index:7;
}
.toggle-more.active{
bottom: 0;
}
.toggle-more ul{
  list-style-type:none;
  padding: 0;
  margin-top: 10px;
  
}
.toggle-more ul li{
padding:5px;
}
.toggle-more ul li a{
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 30%;
  gap: 10px;
}
.toggle-more ul li a i{
  font-size: 24px;
}